.grid{
    display:grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
}

.container-pink{
    background-color:pink;
    border: 1px solid black;
}

.container-blue{
    background-color:rgb(185, 213, 255);
    border: 1px solid black;
}

.grid2{
    width: 500px;
    margin-top: 20px;
    display:grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 100px;
}

.grid3{
    width: 500px;
    margin-top: 20px;
    display:grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 100px 100px;
}
.grid4{
    width: 500px;
    margin-top: 20px;
    display:grid;
    grid-template-columns: 100px repeat(2, 1fr);
    grid-template-rows: 100px 100px;
}
.grid5{
    width: 500px;
    margin-top: 20px;
    display:grid;
    grid-template-columns: 100px repeat(2, 150px);
    grid-template-rows: 100px 100px;
}

.grid6{
    width: 500px;
    margin-top: 20px;
    display:grid;
    grid-template-columns: 100px 1fr 2fr;
    grid-template-rows: 100px 100px;
}