.grid{
    display:grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
}

.container-pink{
    background-color:pink;
}

.container-blue{
    background-color:rgb(185, 213, 255);
}