.grid{
    display:grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
}

.container-pink{
    background-color:pink;
}

.container-blue{
    background-color:rgb(185, 213, 255);
}
.container-header{
    grid-area: header;
    background-color:rgb(0, 26, 65);
    color: white;
}
.container-menu{
    grid-area: menu;
    background-color:rgb(52, 83, 129);
    color: white;
}
.container-main{
    grid-area: main;
    background-color:rgb(185, 213, 255);
}
.container-right{
    grid-area: right;
    background-color:rgb(185, 213, 255);
}
.container-footer{
    grid-area: footer;
    background-color:rgb(3, 3, 3);
    color: white;
}

.grid2{
    width: 500px;
    margin-top: 20px;
    display:grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 100px;
}

.grid3{
    width: 500px;
    margin-top: 20px;
    display:grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 100px 100px;
}
.grid4{
    width: 500px;
    margin-top: 20px;
    display:grid;
    grid-template-columns: 100px repeat(2, 1fr);
    grid-template-rows: 100px 100px;
}
.grid5{
    width: 500px;
    margin-top: 20px;
    display:grid;
    grid-template-columns: 100px repeat(2, 150px);
    grid-template-rows: 100px 100px;
}

.grid6{
    width: 500px;
    margin-top: 20px;
    display:grid;
    grid-template-columns: 100px 1fr 2fr;
    grid-template-rows: 100px 100px;
}

.grid7{
    margin-top: 20px;
    width: 500px;
    height: 300px;
    display:grid;
    text-align: center;
    grid-template-areas: 'header header header header'
                         'menu main main right'
                         'menu footer footer footer';
}