.edit{
        background-color: red; 
        color: white;
        border: 4px solid black;
    }
#khusus{
        background-color: blue;
        color: yellow;
        border: 4px dashed green;
        }
