#teh{
    width: 100%;
    border-radius: 5px 5px 0 0;
    margin-bottom: 5px;
}

.card{
    width: 400px;
    height: 420px;
    background-color: antiquewhite;
    box-shadow:2px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.card:hover{
    box-shadow:4px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.container{
    padding: 2px 16px;
}

h4{
    display: inline-block;
    width: 340px;
    margin: 5px 0;
}

p{
    margin: 5px 0;
}

#hearts{
    cursor: pointer;
    display: inline-block;
    width: 16px;
}

#hearts:hover{
    color: red;
    transition: 0.3s;
}
