.container{
    border:2px rgb(0, 0, 0) solid;
    height: 80vh;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    align-content: center;
}

.item{
    border:2px rgb(255, 0, 0) solid;
    background-color: blue;
    color: azure;
    height: 250px;
    width: 250px;
}

.item1{
    /* flex-grow: 1; */
    flex: 1 2 300px; /*flex grow shrink basis jadi 1*/
}

.item2{
    /* flex-grow: 2; */
    flex-basis: 400px;
    align-self: end;
}

.item3{
    /* flex-grow: 1; */
    flex-shrink: 2;
}